.dropbtn {
  margin-right: 10%;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: 1px solid white;

  font-size: 18px;
  text-align: center;
  color: white;

  transition: 0.5s;
}

.dropdown {
  margin-right: 10%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #808080;
}
